<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Information</title>
</head>
<body>

    <style>
        .btm_image {
            background-color:rgb(208, 252, 234);
            border: none;
            color: rgb(172, 172, 172);
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>


    <form action="http://127.0.0.1:8000/bookmark">
        <button type="submit" class="btm_image" id="img_btn">Home</button>
    </form>

    <h2>Patient 1 information</h2>

</body>
</html>